<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JetDiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <JetDiff.Properties.Settings>
            <setting name="DiffPath" serializeAs="String">
                <value>C:\Program Files (x86)\JetBrains\PhpStorm 2016.3.3\bin\phpstorm64.exe</value>
            </setting>
        </JetDiff.Properties.Settings>
    </userSettings>
</configuration>